<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BlogWhiz</title>
  <link rel="stylesheet" type="text/css" href="application.css">
</head>
<nav id="primary">
  <ul>
    <li><%= link_to "Home", controller: "home" %></li>
    <li><a href="#">About-coming soon!</a></li>
    <li><a href="#">Photos-coming soon!</a></li>
    <li><%= link_to "All Post", controller: "posts" %></li>
  </ul>
</nav>

<header id="main">
  <h1>
  <p>This is a blog about the path to create this blog. This will be on most pages</p>
  </h1>
</header>

<body>
  <h1>Latest Post - <%= @post.title %></h1>
  <p>
    <%= @post.content %>
  </p>

<body>
</body>
</html>
