  <%= @post.title %></h1>
  <p>
    <%= @post.content %>
  </p>
<ul>


  <%if current_user? %>
  <h2>Registered Users shown here for now!</h2>
    <ul>
    <% @users.each do |u| %>
      <li><%= u.email %></li>

    <% end %>
        </ul>
  <% end %>

<body>

