!!! 5
%html
  %head
    / put in meta charset="utf-8"
    %title BlogWhiz
    %link{:href => 'application.css' :type => 'text/css' :rel => 'stylesheet'}
%body
  %button{:type => 'button'}HOME
  %button{:type => 'button'}ABOUT
  %button{:type => 'button'}PHOTOS
  %p
  This is a blog about the path to creating this blog. This will be on every page in site
  %h Current Post
  %p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  / interesting that here we do need a %br (html does not)
  %br
  %a{:href => "fake link1"}Next post ...
  %a{:href => "fake link1"}Next post ...
  %a{:href => "fake link1"}Next post ...
  %br
  %br
  %a{:href => "fake link1"}Older post
